.auth-main {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem;
  padding-bottom: 2rem;
  border: 1px solid black;
}

.auth-btn-container {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.auth-error {
  color: red;
}
