.posts-root {
  margin: 1rem;
}

.posts-header {
  margin-left: 5rem;
  margin-top: 2rem;
}

.posts-main {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.posts-div {
  margin-left: 5rem;
  margin-top: 1.5rem;
  width: 60%;
}

.posts-create-div {
  position: fixed;
  margin-right: 10rem;
  margin-top: 1rem;
  right: 0;
  display: flex;
  align-self: flex-start;
}

.create-post-buttons {
  display: flex;
  gap: 0.5rem;
}
